<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>Translating the jQuery Datepicker for ABPro </p>
<p>The jQuery Datepicker translations master list is here..</p>
<p><a href="https://github.com/jquery/jquery-ui/tree/master/ui/i18n">https://github.com/jquery/jquery-ui/tree/master/ui/i18n</a></p>
<p>&nbsp;</p>
<p>The link on that page is actually to a html page describing the .js file ;-(</p>
<p>To make a translation file you need to cut&amp;paste the js code into a new file in the ABPro <i>/datepicker_locale</i> folder.</p>
<p>&nbsp;</p>
<p>For example to make a Norwegian language file you would create a file called <b>datepicker-no.js</b> in the ABPro <i>/datepicker_locale</i> folder.</p>
<p>Go to <a href="https://github.com/jquery/jquery-ui/blob/master/ui/i18n/datepicker-no.js">https://github.com/jquery/jquery-ui/blob/master/ui/i18n/datepicker-no.js</a></p>
<p>Cut &amp; paste the Norwegian translation js code into the new <b>datepicker-no.js</b> file.</p>
<p>Now ABPro will display Norwegian datepicker.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
